<!-- <mat-toolbar>

    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/products">Products</a>
    <a mat-button routerLink="/cart">Cart</a>
    <form>
      <mat-form-field>
        <input matInput type="text" placeholder="Search products">
      </mat-form-field>
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <div class="user-info">
      <a mat-button routerLink="/login">Login</a>
      <a mat-button routerLink="/profile">Profile</a>
    </div>
    <div class="notifications">
      <mat-icon>notifications</mat-icon>
      <span>3</span>
    </div>
    <div class="logo">
      <img src="logo.png" alt="Logo">
    </div>
 </mat-toolbar>
   -->
